<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet/less" href="../less/bedOperate.less" />
		<link rel="stylesheet" href="../lib/time/m.css" />
		<link rel="stylesheet" href="../lib/time/m1.css" />
		<link rel="stylesheet" href="../lib/time/m2.css" />
		<script src="../lib/less/less.min.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../lib/time/jquery-1.10.0.min.js"></script>		
		<script src="../lib/time/m1.js"></script>		
		<script src="../lib/time/m3.js"></script>
		<script src="../lib/time/m.js"></script>
		<script src="../lib/time/m2.js"></script>
		<script src="../lib/time/m4.js"></script>
		<script>
			$(function(){
			var currYear = (new Date()).getFullYear();	
			var opt={};
			opt.time = {preset : 'time'};
			opt.default = {
				theme: 'android-ics light', //皮肤样式
		        display: 'modal', //显示方式 
		        mode: 'scroller', //日期选择模式
				dateFormat: 'yyyy-mm-dd',
				lang: 'zh',
				showNow: true,
				nowText: "今天",
		        startYear: currYear - 10, //开始年份
		        endYear: currYear + 80 //结束年份
			};
		    var optTime = $.extend(opt['time'], opt['default']);
				$("#mouthTime").mobiscroll(optTime).time(optTime);//时分型
				$("#skinTime").mobiscroll(optTime).time(optTime);//时分型
	
	         });

		</script>
		<script>
			// H5 plus事件处理
	function plusReady(){
		
	}
	if(window.plus){
		plusReady();
	}else{
		document.addEventListener("plusready",plusReady,false);
	}
// 选择时间
	function pick(){
	plus.nativeUI.pickTime( function(e){
		var d=e.date;
		document.getElementById('aaa').innerHTML=d.getHours()+":"+d.getMinutes();
		console.log( "选择的时间："+d.getHours()+":"+d.getMinutes() );
	},function(e){
		console.log( "未选择时间："+e.message );
	});
}
		</script>
		</script>
	</head>
	
	<body>		
		<div>
			<span id="aaa"></span>
		</div>
		<div class="OperateBox">
			<!--头部-->
			<header class="mui-bar mui-bar-nav">
		        <h1 class="mui-title">
		        	<span id='titleId'></span>
		        	<span class="mui-icon mui-icon-arrowdown title_icon"></span>
		        </h1> 
		        <div class="leftBack">
		        	<a class="text"href="../index.html">床位概览</a>
		        </div>		        	
	    	</header>
	    	
	    	<div class="dataTime">
	    		<span id="currentDate"></span>	    		
	    	</div>
	    	<div class="listcontainer">
	    		<div class="mouth">
	    			<h2 class="mouthTitle">口腔护理</h2>
		    		<ul>
		    			<li>
		    				<span>操作时间</span>
		    				<s><i>选择时间<input id="mouthTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    			<li class="lastLi"><span>口腔黏膜</span>
		    				<select name="" id="">
		    					<option value="请选择">请选择</option>
		    				</select>
		    			</li>
		    		</ul>
	    		</div>
	    		<div class="skin">
	    			<h2 class="skinTitle">皮肤护理</h2>
		    		<ul>
		    			<li>
		    				<span>操作时间</span>
		    				<s><i>选择时间<input id="skinTime" runat="server"value="选择时间"  readonly /></i></s></li>
		    			<li class="lastLi">
		    				<span>臂红</span>
		    				<select name="" id="">
		    					<option value="请选择">请选择</option>
		    				</select>
		    			</li>
		    		</ul>
	    		</div>
				<div class="cannula">
	    			<h2 class="cannulaTitle">插管</h2>
		    		<ul>
		    			<li>
		    				<span>插管口径</span>
		    				<input type="text" class="testName num" name='Incubator'/>
		    				<span class="unit">mm</span>
		    			</li>
		    			<li class="lastLi">
		    				<span>插管深度</span>
		    				<input type="text" class="testName num" name='Humidity'/>
		    				<span class="unit">mm</span>
		    			</li>
		    		</ul>
	    		</div>	
	    		<div class="light">
	    			<h2 class="lightTitle">光疗</h2>
		    		<ul>
		    			<li class="lastLi">
		    				<span>光疗执行时间</span>
		    				<s><i>选择时间<input id="lightTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    		</ul>
	    		</div>
	    		<div class="sputum">
	    			<h2 class="sputumTitle">吸痰</h2>
		    		<ul>
		    			<li class="lastLi">
		    				<span>新生儿呼吸道清Q3H</span>
		    				<s><i>选择时间<input id="sputumTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    		</ul>
	    		</div>
	    		<div class="other">
	    			<h2 class="otherTitle">吸痰</h2>
		    		<ul>
		    			<li>
		    				<span>气管插管护理Q3H</span>
		    				<s><i>选择时间<input id="tracheaTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    			<li>
		    				<span>呼吸机辅助呼吸</span>
		    				<s><i>选择时间<input id="breathTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    			<li>
		    				<span>新生儿疾病筛查ONCE</span>
		    				<s><i>选择时间<input id="illTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    			<li class="lastLi">
		    				<span>新生儿听力筛查ONCE</span>
		    				<s><i>选择时间<input id="hearTime" runat="server"value="选择时间"  readonly  /></i></s>
		    			</li>
		    		</ul>
	    		</div>
	    		<button class="save"id='saveBtn'>保存并上传</button>
	    	</div>	    		
	    	<!--底部导航-->
	    	<nav class="mui-bar mui-bar-tab footer">
      			<a id="defaultTab" class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon oberItem"></span>
                	<span class="mui-tab-label">观察项</span>
       			</a>
      			<a class="mui-tab-item mui-active active" href="javascript:;">
                	<span class="mui-icon bedOper"></span>
                	<span class="mui-tab-label">床旁操作</span>
       			</a>
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon out"></span>
                	<span class="mui-tab-label">出量</span>
      			</a>  
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon in"></span>
                	<span class="mui-tab-label">入量</span>
      			</a>  
      			<a class="mui-tab-item" href="javascript:;"id='jumpLife'>
                	<span class="mui-icon life"></span>
                	<span class="mui-tab-label">生命体征</span>
      			</a>  
    		</nav>
			
		</div>
		<script src="../js/public.js"></script>
		<script>
			document.getElementById('currentDate').innerHTML=new Date().Format("yyyy-MM-dd");
		</script>
		<!--底部导航切换-->
		<script src="../js/nav_tab.js"></script>	
	</body>

</html>