<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet/less" href="../less/public.less" />
		<link rel="stylesheet/less" href="../less/bedOperate.less" />
		<script src="../lib/less/less.min.js"></script>
		<script src="../js/mui.min.js"></script>
		
	</head>	
	<body>					
		<div class="OperateBox">
			<!--患者选择-->
			<div id="popover">
			  <h2 class="currentPatient">当前患儿</h2>
			  <div class="currentData">
			  		<div class="singleBox">
			  			<a class="single"><span id='currentBed'></span>&nbsp;<span id='currentName'></span></a>
			  		</div>
			  </div>		  
			  <h2 class="history">历史患儿</h2>
			  <div class="historyData"id='historyData'>
			  </div>
			</div>
			<!--头部-->
			<header class="mui-bar mui-bar-nav">
		        <h1 class="mui-title">
		        	<span id='titleId'></span>
		        	<span class="mui-icon mui-icon-arrowdown title_icon"id='downSelect'></span>
		        </h1> 
		        <div class="leftBack">
		        	<a class="text mui-action-back"href="../index.html"id='back'>床位概览</a>
		        </div>		        	
	    	</header>	    	
	    	<div class="mui-content">
	    		
	    	</div>	
	    	<button class="save saveBack"id='saveBtn'>保存并上传</button>
	    	<!--底部导航-->
	    	<nav class="mui-bar mui-bar-tab footer">
      			<a id="defaultTab" class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon oberItem"></span>
                	<span class="mui-tab-label">观察项</span>
       			</a>
      			<a class="mui-tab-item mui-active active" href="javascript:;">
                	<span class="mui-icon bedOper"></span>
                	<span class="mui-tab-label">床旁操作</span>
       			</a>
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon out"></span>
                	<span class="mui-tab-label">出量</span>
      			</a>  
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon in"></span>
                	<span class="mui-tab-label">入量</span>
      			</a>  
      			<a class="mui-tab-item" href="javascript:;"id='jumpLife'>
                	<span class="mui-icon life"></span>
                	<span class="mui-tab-label">生命体征</span>
      			</a>  
    		</nav>
			
		</div>
		<script src="../lib/template/template.js"></script>
		<script type='text/template'id='selectPatient'>
			{{each list as value i}}
			<div class="singleBox"MRN='{{value.MRN}}'PatientName='{{value.PatientName}}'PatientNumber='{{value.PatientNumber}}'id='hisData'>
			  <a class="single"><span>{{value.Bed}}</span>&nbsp;<span>{{value.PatientName}}</span></a>
			</div>
			{{/each}}
		</script>	
		<script src="../js/public.js"></script>
		<script>
			//		下拉刷新
		mui.init({
//			gestureConfig:{
//				doubletap:true
//			},
			subpages:[{ 
				url:'bedOperSub.html',
				id:'bedOperSub',
				styles:{
					top: '50px',
					bottom:'100px'
				}
			}] 
		});
		    
		
	</script>
	<script>
		document.getElementById('titleId').innerHTML=patientName;
		document.getElementById('back').addEventListener('tap',function(){
			var subPage=plus.webview.getWebviewById("bedOperSub");
			plus.webview.close(subPage);
		})
	</script>
		
		<!--底部导航切换-->
		<script src="../js/nav_tab.js"></script>	
	</body>

</html>