<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet/less" href="../less/public.less" />
		<link rel="stylesheet/less" href="../less/life.less" />
		<script src="../lib/less/less.min.js"></script>
	</head>
	
	<body>
		<script src="../js/mui.min.js"></script>
		
		<div class="obervationBox">
			<!--患者选择-->
			<div id="popover" class="mui-popover">
			  <h2 class="currentPatient">当前患儿</h2>
			  <div class="currentData">
			  		<div class="singleBox">
			  			<a class="single"><span id='currentBed'>1501</span>&nbsp;<span id='currentName'>孟羽娟之女</span></a>
			  		</div>
			  </div>		  
			  <h2 class="history">历史患儿</h2>
			  <div class="historyData"id='historyData'>
			  </div>
			</div>
			<!--头部-->
			<header class="mui-bar mui-bar-nav">
		        <h1 class="mui-title">
		        	<span id='titleId'></span>
		        	<a href='#popover'class="mui-icon mui-icon-arrowdown title_icon"id='downSelect'></a>
		        </h1> 
		        <div class="leftBack">
		        	<a class="text"href="../index.html">床位概览</a>
		        </div>		        	
	    </header>	    	
	    	<div class="dataTime">
	    		<span id='currentDate'></span>
	    		<span class="time">
	    			<span><i class="one"></i></span>
	    			<span class="now"><input type="time"value="12:45" /><i class="two">12:22</i></span>
	    			<span><i class="three"></i></span>
	    		</span>
	    	</div>
	    	
	    	<div class="listcontainer">
	    		<div class="VitalSigns">
		    		<ul>
		    			<li>
		    				<span class="vitalName">心率</span>
		    				<input type="text"  name="HRVALUE"/>	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">脉搏</span>
		    				<input type="text"name="PULSEVALUE" />	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">呼吸</span>
		    				<input type="text" name="RESPVALUE"/>	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">无创收缩压</span>
		    				<input type="text"name="NIBPSVALUE" />	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">无创舒张压</span>
		    				<input type="text"name="NIBPDVALUE" />	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">有创收缩压</span>
		    				<input type="text"name="ARTSVALUE" />	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">无创舒张压</span>
		    				<input type="text" name="ARTDVALUE"/>	    				
		    			</li>
		    			<li>
		    				<span class="vitalName">血氧</span>
		    				<input type="text"name="SPO2VALUE" />	    				
		    			</li>
		    		</ul>
	    		</div>
	    		<div class="operBtn">
	    			<button class="import"id='import'>导入设备信息</button>
	    			<div class="submitBtn">
	    				<button class="reset"id='reset'>清空</button>
	    				<button class="save"id='saveBtn'>保存并上传</button>
	    			</div>
	    			
	    		</div>
	    	</div>	    		
	    	<!--底部导航-->
	    	<nav class="mui-bar mui-bar-tab footer">
      			<a id="defaultTab" class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon oberItem"></span>
                	<span class="mui-tab-label">观察项</span>
       			</a>
      			<a class="mui-tab-item" href="javascript:;"id='bedOper'>
                	<span class="mui-icon bedOper"></span>
                	<span class="mui-tab-label">床旁操作</span>
       			</a>
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon out"></span>
                	<span class="mui-tab-label">出量</span>
      			</a>  
      			<a class="mui-tab-item" href="javascript:;">
                	<span class="mui-icon in"></span>
                	<span class="mui-tab-label">入量</span>
      			</a>  
      			<a class="mui-tab-item  mui-active active" href="javascript:;">
                	<span class="mui-icon life"></span>
                	<span class="mui-tab-label">生命体征</span>
      			</a>  
    		</nav>
			
		</div>
		<script>
//			mui.alert('<span class="lose_icon"></span>设备信息导入失败<br/>请稍后再试','','关闭',function (e) {
//			   e.index
//			},'div');
		</script>
		<script src="../lib/template/template.js"></script>
		<script type='text/template'id='selectPatient'>
			{{each list as value i}}
			<div class="singleBox"MRN='{{value.MRN}}'PatientName='{{value.PatientName}}'PatientNumber='{{value.PatientNumber}}'id='hisData'>
			  <a class="single"><span>{{value.Bed}}</span>&nbsp;<span>{{value.PatientName}}</span></a>
			</div>
			{{/each}}
		</script>	
		<script src="../js/public.js"></script>
		<script>	
			document.getElementById('titleId').innerHTML=patientName;
			
			document.getElementById('defaultTab').addEventListener('tap',function(){
				location.href='observation.html?MRN='+MRN+'&PatientName='+ escape(patientName)+'&PatientNumber='+patientNumber;
			});
			document.getElementById('bedOper').addEventListener('tap',function(){
				location.href='bedOperate.html?MRN='+MRN+'&PatientName='+ escape(patientName)+'&PatientNumber='+patientNumber;
			});
		</script>
		
			
		<!--时间控件-->
		<script>
			document.getElementById('currentDate').innerHTML=new Date().Format("yyyy-MM-dd");
			document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
			document.getElementsByClassName('listcontainer')[0].classList.remove('OtherData');
			//时间控件
			mui.ajax({
				url:url,
				type:'post',
				data:{
					msgBody:JSON.stringify({
                   		PatientMRN:MRN,
                    	CurrentTime:new Date().Format("yyyy-MM-dd hh:mm:ss")
                	}),                   
                	msgHeader:JSON.stringify({
                    	ServerName:'GetTimeList',
                    	Format: 'json',
                    	CallOperator: '',
                    	Certificate:'123456'})
				},
				dataType:'json',
				success:function(data){
					var timeArr=[];
					for(var i=0;i<data.Contents.length;i++){
						timeArr.push(data.Contents[i].Time);
					}
					var hour=new Date().getHours();
					var three=document.getElementsByClassName('three')[0];
					var one=document.getElementsByClassName('one')[0];
					var two=document.getElementsByClassName('two')[0];
					//设置时间的默认值为当前时间
					for(var i=0;i<timeArr.length;i++){
						var colonIndex=timeArr[i].indexOf(':');
						var nextIndex=i+1>=timeArr.length-1?timeArr.length-1:i+1;
						if(timeArr[i].substring(0,colonIndex)<=hour && timeArr[nextIndex].substring(0,colonIndex)>hour){					
							two.innerHTML=timeArr[i];
							two.setAttribute('index',i);
							if(i<=0){
								three.innerHTML=timeArr[i+1];
								three.setAttribute('index',i+1);						
								one.innerHTML=timeArr[timeArr.length-1];
								one.setAttribute('index',timeArr.length-1);
								continue;
							}
							if(i>=timeArr.length-1){
								one.innerHTML=timeArr[i-1];
								one.setAttribute('index',i-1);
								three.innerHTML=timeArr[0];
								three.setAttribute('index',0);
								continue;
							}
							one.innerHTML=timeArr[i-1];
							one.setAttribute('index',i-1);
							three.innerHTML=timeArr[i+1];
							three.setAttribute('index',i+1);
						}
					}		
					
					mui.ajax({
							url:url,
							type:'post',
							data:{
								msgBody:JSON.stringify({
		                   			PatientMRN:MRN,
		                    		OperateTime:new Date().Format('yyyy-MM-dd')+" "+two.innerHTML+":00",
                				}),                   
                				msgHeader:JSON.stringify({
                    				ServerName:'GetMonitorByTime',
                    				Format: 'json',
                    				CallOperator: '',
                    				Certificate:'123456'})
								},
							dataType:'json',
							success:function(data){
								console.log(data);
								if(data.Code==0){
									if(parseInt(two.innerHTML.substr(0,2))!=parseInt(data.Contents.OperateTime.substring(data.Contents.OperateTime.indexOf(" "),data.Contents.OperateTime.indexOf(":")))){
										document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
										var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
										for(var i=0;i<inputs.length;i++){
											inputs[i].value='';
										}
										return;
									}
									for(var key in data.Contents){
										if(key=='OperateTime'){
											continue;
										}
										document.getElementsByClassName('listcontainer')[0].classList.add('hasSave');
										document.getElementsByName(key)[0].value=data.Contents[key];
										
									}
								}else {
										document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
										var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
										for(var i=0;i<inputs.length;i++){
											inputs[i].value='';
										} 
								}
							}
						})
					var timeBoxs=document.getElementsByClassName('time')[0].children;
					//设置位置
					for(var i=0;i<timeBoxs.length;i++){
						timeBoxs[i].style.left=170*i/100+'rem';
					}
//					修改时间
					two.addEventListener('tap',function(){
						this.style.display='none';
						this.previousElementSibling.value=this.innerHTML;
						var that=this;
						this.previousElementSibling.addEventListener('change',function(){
							that.innerHTML=this.value;
							 mui.ajax({
								url:url,
								type:'get',
								data:{
									msgBody:JSON.stringify({                   				
		                    			Time:new Date().Format("yyyy-MM-dd")+" "+this.value,
		                    			ColumnID:parseInt(that.getAttribute('index'))+3+'',
		                    			PatientMRN:MRN
		                			}),                   
		                			msgHeader:JSON.stringify({
				                    	ServerName:'UpdateTime',
				                    	Format: 'json',
				                    	CallOperator: '',
				                    	Certificate:'123456'
			                    	})
								},
								dataType:'json',
								success:function(data){
									if(data.Code==0){
										
									}				
								}
							})					
							var changeIndex=that.getAttribute('index');
							timeArr[changeIndex]=that.innerHTML;
							that.style.display='block';
						})		
						this.previousElementSibling.addEventListener('blur',function(){
							console.log(123);
							that.innerHTML=this.value;
							that.style.display='block';
						})
						
					})
//					查询最近的记录
					one.addEventListener('tap',function(){
						if(!this.innerHTML){
							return;
						}
						var thisInnerHtml=this.innerHTML;
						var tapIndex=parseInt(one.getAttribute('index'));
							two.innerHTML=timeArr[tapIndex];
							two.setAttribute('index',tapIndex);
							three.innerHTML=timeArr[tapIndex+1];
							three.setAttribute('index',parseInt(tapIndex+1));
							if(tapIndex<=0){
								one.innerHTML='';
								one.setAttribute('index',0);
							}else {
								one.innerHTML=timeArr[tapIndex-1];
								one.setAttribute('index',tapIndex-1);
							}									
						document.getElementsByClassName('listcontainer')[0].classList.remove('OtherData');
						mui.ajax({
							url:url,
							type:'post',
							data:{
								msgBody:JSON.stringify({
		                   			PatientMRN:MRN,
		                    		OperateTime:new Date().Format('yyyy-MM-dd')+" "+thisInnerHtml+":00"                				}),                   
                				msgHeader:JSON.stringify({
                    				ServerName:'GetMonitorByTime',
                    				Format: 'json',
                    				CallOperator: '',
                    				Certificate:'123456'})
								},
							dataType:'json',
							success:function(data){
								console.log(data);
								if(data.Code==0){
									console.log(parseInt(thisInnerHtml.substr(0,2)));
									console.log(parseInt(data.Contents.OperateTime.substring(data.Contents.OperateTime.indexOf(" "),data.Contents.OperateTime.indexOf(":"))));
									if(parseInt(thisInnerHtml.substr(0,2))!=parseInt(data.Contents.OperateTime.substring(data.Contents.OperateTime.indexOf(" "),data.Contents.OperateTime.indexOf(":")))){
										document.getElementsByClassName('listcontainer')[0].classList.add('OtherData');
									}
									for(var key in data.Contents){
										if(key=='OperateTime'){
											continue;
										}
										document.getElementsByClassName('listcontainer')[0].classList.add('hasSave');
										document.getElementsByName(key)[0].value=data.Contents[key];
										
									}
								}else {
										document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
										var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
										for(var i=0;i<inputs.length;i++){
											inputs[i].value='';
										}										
								}
							}
						})
					})
//					切换到最新的时间
					three.addEventListener('tap',function(){
						console.log(parseInt(this.innerHTML.substr(0,2)));
						console.log(new Date().getHours());
						if(!this.innerHTML){
							return;
						}
						var thisInnerHtml=this.innerHTML;
						var tapIndex=parseInt(three.getAttribute('index'));
								two.innerHTML=timeArr[tapIndex];
								two.setAttribute('index',tapIndex);
								one.innerHTML=timeArr[tapIndex-1];
								one.setAttribute('index',tapIndex-1);
								if(tapIndex>=timeArr.length-1){									
									three.innerHTML="";
									three.setAttribute('index',timeArr.length-1);
								}else {
									three.innerHTML=timeArr[tapIndex+1];
									three.setAttribute('index',parseInt(tapIndex+1));
								}	
						
						mui.ajax({
							url:url,
							type:'post',
							data:{
								msgBody:JSON.stringify({
		                   			PatientMRN:MRN,
		                    		OperateTime:new Date().Format('yyyy-MM-dd')+" "+thisInnerHtml+":00"
                				}),                   
                				msgHeader:JSON.stringify({
                    				ServerName:'GetMonitorByTime',
                    				Format: 'json',
                    				CallOperator: '',
                    				Certificate:'123456'})
								},
							dataType:'json',
							success:function(data){
								console.log(data);
								if(data.Code==0){
									if(parseInt(thisInnerHtml.substr(0,2))!=parseInt(data.Contents.OperateTime.substring(data.Contents.OperateTime.indexOf(" "),data.Contents.OperateTime.indexOf(":")))){
										document.getElementsByClassName('listcontainer')[0].classList.add('OtherData');
									}
									for(var key in data.Contents){
										if(key=='OperateTime'){
											continue;
										}
										document.getElementsByClassName('listcontainer')[0].classList.add('hasSave');
										document.getElementsByName(key)[0].value=data.Contents[key];
										
									}
								}else {
										document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
										var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
										for(var i=0;i<inputs.length;i++){
											inputs[i].value='';
										}
								}
							}
						})
					})
//					保存并上传数据
					document.getElementById('saveBtn').addEventListener('tap',function(e){
						var saveObj={
						PatientMRN:MRN,
						PatientNumber: patientNumber,
						PatientName:patientName,
						ColumnId:parseInt(two.getAttribute('index'))+3+'',
						OperateTime:new Date().Format('yyyy-MM-dd')+" "+two.innerHTML+":00"
						};
						var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
						for(var i=0;i<inputs.length;i++){
							var nameInputAttr=inputs[i].getAttribute('name');
							saveObj[nameInputAttr]=inputs[i].value;
						}
						mui.ajax({
							url:url,
							type:'post',
							data:{
								msgBody:JSON.stringify(saveObj),                   
		                		msgHeader:JSON.stringify({
		                    	ServerName:'SaveMonitor',
		                    	Format: 'json',
		                    	CallOperator: '',
		                    	Certificate:'123456'})
							},
							dataType:'json',
							success:function(data){
								console.log(data);
								if(data.Code==0){
									document.getElementsByClassName('listcontainer')[0].classList.add('hasSave');
									document.getElementsByClassName('listcontainer')[0].classList.remove('OtherData');
								}
							}
						})
					});
//					清空数据
					document.getElementById('reset').addEventListener('tap',function(){
						if(document.getElementsByClassName('listcontainer')[0].classList.contains('hasSave')){
							return;
						}
						document.getElementsByClassName('listcontainer')[0].classList.remove('OtherData');
						var inputs=document.getElementsByClassName('listcontainer')[0].getElementsByTagName('input');
										for(var i=0;i<inputs.length;i++){
											inputs[i].value='';
										}										
					})
//					导入设备数据
					document.getElementById('import').addEventListener('tap',function(){
						mui.ajax({
							url:url,
							type:'post',
							data:{
								msgBody:JSON.stringify(
									{
										PatientMRN:'1006357',
		                    			OperateTime:'2017-08-13 09:00:00'
									}
								),
		                		msgHeader:JSON.stringify({
		                    	ServerName:'GetMonitor',
		                    	Format: 'json',
		                    	CallOperator: '',
		                    	Certificate:'123456'})
							},
							dataType:'json',
							success:function(data){
								console.log(data);
								if(data.Code==0){
									document.getElementsByClassName('listcontainer')[0].classList.remove('hasSave');
									document.getElementsByClassName('listcontainer')[0].classList.remove('OtherData');
									for(var key in data.Contents){
										if(key=='OperateTime'){
											continue;
										}
										document.getElementsByName(key)[0].value=data.Contents[key];
										
									}
								}
							}
						})
					})
				}
			})			
		</script>
		
		<!--底部导航切换-->
		<script src="../js/nav_tab.js"></script>		
	</body>

</html>