<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet/less" href="../less/public.less" />
    <link rel="stylesheet/less" href="../less/login.less" />
    <script src="../lib/less/less.min.js"></script>
</head>
<body>
	<div class="loginBox">
			<div class="selectArea"id='selectArea'>
				<h2>请选择</h2>
				<ul id='itemCon'class="itemCon">
					<li>043</li>
				</ul>
			</div>

		<div class="top">
			<span class="logo"></span>
		</div>
		<div class="content">
    			<div class="mui-input-row">
    				<input type="text" class="mui-input-clear user" placeholder="请输入账号"id='user'>
    				<span class="icon-user"></span>
    			</div>
    			<div class="mui-input-row">
        			<input type="password" class="mui-input-password pwd" placeholder="请输入密码"id='pwd'>
    				<span class="icon-pwd"></span>
    			</div>
    			<div class="mui-input-row">
    				<span class="icon-floor"></span>
    				<div class="selectItem">				
    					请选择楼层
    				</div>			
    			</div>
    			<div class="mui-input-row">
    				<span class="icon-area"></span>
    				<div class="selectItem"id='illAreaId'>					
    					请选择病区
    				</div>		
    			</div>
    			<div class="mui-button-row">
    				<em id='loginTip'></em>
        			<button type="button" class="mui-btn mui-btn-primary" id='loginBtn'>登录</button>
    			</div>
			<div class="company">
				北京康瑞德医疗器械有限公司
			</div>
		</div>
	</div>
	<script src="../js/config.js"></script>
	<script>
//		下拉选项
		var selectDom=document.getElementsByClassName('selectItem');
			var selectArea=document.getElementById('selectArea');
			var mask = mui.createMask(function(){
				selectArea.style.display='none';
				selectArea.classList.remove('hasShow');
			});
			function selectInfo(ele){
				if(ele.classList.contains('hasShow')){
						ele.classList.remove('hasShow');
						selectArea.style.display='none';
						mask.close();
						return;
					}else {
						ele.classList.add('hasShow');
						selectArea.style.display='block';
						mask.show();
					}
					var lis=document.getElementsByClassName('itemCon')[0].getElementsByTagName('li');
							for(var i=0;i<lis.length;i++){
								lis[i].addEventListener('tap',function(){
									ele.innerHTML=this.innerHTML;
									selectArea.style.display='none';
									mask.close();
								})
								
					}
//					mui.ajax({
//						url:url,
//						type:'get',
//						data:{
//							msgBody:JSON.stringify({
//			                   			Observation:ele.firstElementChild.innerHTML
//	                				}),                   
//	                				msgHeader:JSON.stringify({
//	                    				ServerName:'GetSelectValues',
//	                    				Format: 'json',
//	                    				CallOperator: '',
//	                    				Certificate:'123456'
//	                    			})
//						},
//						dataType:'json',
//						success:function(data){
//							console.log(data);
//							if(data.Code==0){
//								var items=data.Contents;
//								var html=template('selectItemTpl',{list:items});
//								document.getElementById('itemCon').innerHTML=html;
//							}else {
//								data.Contents=[];
//								data.Contents[0]='';
//								var items=data.Contents;
//								var html=template('selectItemTpl',{list:items});
//								document.getElementById('itemCon').innerHTML=html;
//							}
//							var lis=document.getElementsByClassName('itemCon')[0].getElementsByTagName('li');
//							for(var i=0;i<lis.length;i++){
//								lis[i].addEventListener('tap',function(){
//									ele.lastElementChild.innerHTML=this.innerHTML;
//									selectArea.style.display='none';
//									mask.close();
//								})
//								
//							}
//						}
//				})
					
			}
			
			for(var i=0;i<selectDom.length;i++){
				selectDom[i].addEventListener('tap',function(){
					selectInfo(this);
				});
			}
			
	</script>
	<script>
		mui.init();
		var loginBtn=document.getElementById('loginBtn');
		var userDom=document.getElementById('user');
		var pwdDom=document.getElementById('pwd');
		var areaDom=document.getElementById('illAreaId');
		var loginTip=document.getElementById('loginTip');
		loginBtn.innerHTML='登录';
		loginTip.innerHTML='';
		loginBtn.addEventListener('tap',function(){
			loginBtn.innerHTML='登录中…';
			if(userDom.value.length==0 || pwdDom.value.length==0){
				loginTip.innerHTML='请填写用户名和密码';
				loginBtn.innerHTML='登录';
				return;
			}
			mui.ajax({
			url: url,
            type:'post',
            data:{
                msgBody:JSON.stringify({
                    UserName: userDom.value,
                    Password: pwd.value,
                    DeptCode: areaDom.innerHTML
                }),                   
                msgHeader:JSON.stringify({
                    ServerName:'ICULogin',
                    Format: 'json',
                    CallOperator: '',
                    Certificate:'123456'})
            },
            dataType:'json',
            success:function(data){
                if(data.Code=='0'){
                	window.localStorage.setItem('loginInfo',JSON.stringify(data.Contents));
                	loginTip.innerHTML='登录成功，正在跳转…';
                	setTimeout(function(){  
                		userDom.value='';
                		pwdDom.value='';
                		areaDom.value='one';
                		location.href='../index.html?name='+data.Contents.Name+'&DeptCode='+data.Contents.DeptCode;    		
                	},200);              	
                }else {
                	loginTip.innerHTML=data.Msg.length<6?data.Msg:data.Msg.substr(0,8);
                	loginBtn.innerHTML='登录';
                	var inputs=document.getElementsByTagName('input');
                	for(var i=0;i<inputs.length;i++){
                		inputs[i].addEventListener('change',function(){
                		loginTip.innerHTML='';
                	});
                	}
                	
                }
            }
		})
		})
		
	</script>
</body>
</html>